{% extends 'core/base.html'%}
{% load static %}

{% block slider %}
<div class="row slider">
    <div class="col">
        <img src="{% static 'core/img/contacto.jpg' %}" class="w-100" alt="Responsive image">
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <!--Acerca de - contenido -->
    <div class="container">
        <div class="row contenedor">
            <div class="col">
                <h2 class="titulo">Contactar a Juan Duarte</h2>
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-phone phone"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-left">+57 302 734 2616</p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p class="text-left">Puedes llamar a cualquier hora, con gusto atenderé tu solicitud.</p>
                    </div>
                </div>

                <div class="row contacto justify-content-space-around align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-mail mail"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-left">juan.devcontact@gmail.com</p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p class="text-left">También podrías enviarme un correo y con gusto te responderé cualquier duda.</p>
                    </div>
                </div>

                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-whatsapp whatsapp"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-left">+57 300 568 6734
                        </p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p class="text-left">Estaré atento a cualquier inquietud que tengas por este medio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}